---
http_interactions:
- request:
    method: get
    uri: http://api.retailigence.com/v2.1/products?apikey=dVrbDdN_3tqdUot_sgLn6tY1p4HIp0kK&keywords=Baby%20Bottle&requestorid=test&userlocation=75033
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"RetailigenceSearchResult":{"id":"838ca18f-e832-48d1-b622-28a92d29f9b2","results":[{"SearchResult":{"product":{"id":"406ab81d-08fc-420e-a0ac-f1a69ee7d86a","externalproductid":"15637564_15637564","model":"5511769","weight":0.0,"msrpCurrency":"USD","name":"Baby
        Buddy - Bottle Buddy Electronic Formula Dispenser, White","descriptionLong":"\nBy
        using the Baby Buddy Bottle Buddy Electronic Formula Dispenser, mothers can
        make the right kind of food for their babies. They can feed the babies in
        an easier and convenient way. It can be really useful for new parents and
        caretakers as most of them get nervous about formula quantities. This baby
        powder milk dispenser can save time and at the same time it helps arrive at
        the right formula every time. In a way, it reduces the risks of over and under
        feeding. Miscounting scoops of powder, overfeeding or underfeeding on a regular
        basis can have long-term health implications on the baby, which can be avoided
        with this baby formula dispenser. Moreover, the powdered formula dispenser
        is compatible with all brands of formula and is BPA free as well. It is also
        compatible with all methods of sterilization.\nBaby Buddy Bottle Buddy Electronic
        Formula Dispenser:\n    *   Bottle Buddy eliminates the risk of contamination,
        human error and spillage\n    *   Bisphenol-A free\n    *   Dishwasher safe\n    *   Compatible
        with all brands of formula\n    *   Compatible with all methods of sterilization\n    *   Accurately
        counts a pre-set amount of powdered infant and follow on formula into a baby''s
        bottle\n    *   Convenient and easy to use\n    *   Includes a built-in power
        cord\n    \n","brand":"Baby Buddy","images":[{"ImageInfo":{"imageName":"LARGE","link":"http:\/\/api.retailigence.com\/v2.1\/rdr?id=l:406ab81d-08fc-420e-a0ac-f1a69ee7d86a&requestId=838ca18f-e832-48d1-b622-28a92d29f9b2&apikey=dVrbDdN_3tqdUot_sgLn6tY1p4HIp0kK"}},{"ImageInfo":{"imageName":"SMALL","link":"http:\/\/api.retailigence.com\/v2.1\/rdr?id=s:406ab81d-08fc-420e-a0ac-f1a69ee7d86a&requestId=838ca18f-e832-48d1-b622-28a92d29f9b2&apikey=dVrbDdN_3tqdUot_sgLn6tY1p4HIp0kK"}}],"sku":"15637564","descriptionShort":"\nBy
        using the Baby Buddy Bottle Buddy Electronic Formula Dispenser, mothers can
        make the right kind of food for their babies. They can feed the babies in
        an easier and convenient way. It can be really useful for new parents and
        caretakers as most of them get nervous about formula quantities. This baby
        powder milk dispenser can save time and at the same time it helps arrive at
        the right formula every time. In a way, it reduces the risks of over and under
        feeding. Miscounting scoops of powder, overfeeding or underfeeding on a regular
        basis can have long-term health implications on the baby, which can be avoided
        with this baby formula dispenser. Moreover, the powdered formula dispenser
        is compatible with all brands of formula and is BPA free as well. It is also
        compatible with all methods of sterilization.\n","url":"http:\/\/api.retailigence.com\/v2.1\/rdr?id=p:406ab81d-08fc-420e-a0ac-f1a69ee7d86a&requestId=838ca18f-e832-48d1-b622-28a92d29f9b2&apikey=dVrbDdN_3tqdUot_sgLn6tY1p4HIp0kK","productType":["Baby","Bottle
        Feeding"]},"distance":{"distance":2.207504211063543,"units":"miles"},"price":"64.07","location":{"id":"f1d6c3f9-a028-471b-a6d1-c11251b5ee22","timezone":"America\/Chicago","distance":{"distance":2.207504211063543,"units":"miles"},"phone":"4693628542","tnavLink":"http:\/\/apps.scout.me\/v1\/driveto?dt=12220+Fm+423+Frisco+TX+75034@33.179656,-96.884306&token=s6iLlaxu-k6-J92rQBlaPvozpxUPAAPhbIlKgFy5X_XcyFLYv6iVIkXH4rOPIvZDR1duzTMYCzrFYAMkx2Q3RILIva9TGKubnreoRxaAv_2uRGGItiCo-FJA9sJA9EPtSO70OFeu7LDg06EZxiQjxU_CKNfi76c_-ImDVGNCocQ&name=Walmart+-+Frisco","location":{"longitude":-96.884306,"latitude":33.179656},"address":{"postal":"75034","state":"TX","address1":"12220
        Fm 423","country":"US","city":"Frisco"},"hours":"1:00:00:23:59,2:00:00:23:59,3:00:00:23:59,4:00:00:23:59,5:00:00:23:59,6:00:00:23:59,7:00:00:23:59","mapLink":"http:\/\/maps.google.com\/maps?q=12220+Fm+423+Frisco+TX+75034","name":"Walmart
        - Frisco","retailer":{"id":"31d9b3fd-ea69-4e08-9f7d-f41bc1be1474","logo":"http:\/\/bi2.retailigence.com\/img\/logo\/walmart-120x30.jpg","phs":8,"name":"Walmart","logosq":"http:\/\/bi2.retailigence.com\/img\/logo\/walmart-50x50.jpg"},"retlocationid":"3777"},"inventory":"http:\/\/api.retailigence.com\/v2.1\/inventory?apikey=dVrbDdN_3tqdUot_sgLn6tY1p4HIp0kK&productId=406ab81d-08fc-420e-a0ac-f1a69ee7d86a&locationId=f1d6c3f9-a028-471b-a6d1-c11251b5ee22&format=JSON","lastUpdated":"2014-03-24T13:22:12.047Z","currency":"USD"}},{"SearchResult":{"product":{"model":"BC200BST","msrpCurrency":"USD","weight":0.0,"productCategory":["Home
        & Garden"],"barcode":"00789887307609","sku":"2804376","productType":["TRAFFIC
        APPLIANCES"],"id":"91a018a4-e406-490d-981c-1ba62e4289b3","externalproductid":"1218352066117","msrp":"39.99","name":"Baby
        Chef - 6-Bottle Steaming Sanitizer","descriptionLong":"This bottle sanitizer
        uses steam to thoroughly clean up to 6 bottles of various shapes and sizes
        and features a top rack for nips, covers, pacifiers and utensils.","images":[{"ImageInfo":{"imageName":"LARGE","link":"http:\/\/api.retailigence.com\/v2.1\/rdr?id=l:91a018a4-e406-490d-981c-1ba62e4289b3&requestId=838ca18f-e832-48d1-b622-28a92d29f9b2&apikey=dVrbDdN_3tqdUot_sgLn6tY1p4HIp0kK"}},{"ImageInfo[...]
